body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Inter'; */
    overflow-y: scroll;
}

h1{
    font-size: 4rem;
}

@font-face{
    font-family: "Atomic Age";
    src:
        url(fonts/AtomicAge-Regular.ttf);

    font-family: "Rocket Script";
    src:
        url(fonts/RocketScript.ttf);
    
    font-family: "Supercomputer";
    src:
        url(fonts/supercomputer.ttf);
    
    font-family: "Astron Boy Video";
    src:
        url(fonts/astron-boy.video-regular.otf);
    
    font-family: "Pavelt";
    src:
        url(fonts/Pavelt.otf);

    font-family: "Madenz";
    src:
        url(fonts/MADENZ.ttf);

    font-family: "Upcharge";
    src:
        url(fonts/UPCHARGE.ttf);

    font-family: "Electromagnetic Lungs";
    src: 
        url(fonts/Electromagnetic-Lungs.otf);

    font-family: "OCR-A";
    src: 
        url(fonts/OCR-A\ Regular.otf);
}

::selection{
    color: black;
    background-color: white;
}

:root{
    --red: #FFADAD;
    --orange: #FFD6A5;
    --yellow: #FDFFB6;

    --lime: #CAFFBF;
    --green: #ABFFBF;
    --blue: #9BF6FF;

    --indigo: #A0C4FF;
    --purple: #BDB2FF;
    --pink: #FFC6FF;

    --trans-white: rgba(255, 255, 255, .25);
}

#flex-container{
    display: flex;
}

/* ================== */
/* ===== NAVBAR ===== */
/* ================== */
#container{
    width: 10vw;
    height: 100vh;
    /* background-image: url(https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e002174/GSFC_20171208_Archive_e002174~medium.jpg); */
    /* background-image: url(https://images-assets.nasa.gov/image/PIA09579/PIA09579~medium.jpg); */
    /* background-image: url(); */
    background-image: url(https://images-assets.nasa.gov/image/PIA09579/PIA09579~medium.jpg);
    margin: 0;
    /* padding: 2.5vh 0vh; */
    border-right: 9px double white;
    position: fixed;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 2vh 0vh;
    text-align: center;
}

#site-title{
    font-family: "Electromagnetic Lungs";
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

#site-subtitle{
    font-family: "Electromagnetic Lungs";
    text-align: center;
    font-size: 1em;
}

.nav-break{
    width: 30%;
}

#navbar li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1vh 0vh;
}

#navbar li a:hover{
    background-color: var(--trans-white);
    color: rgb(255, 136, 229);
    text-decoration:underline;
}

.seventies li a:hover{
    color: yellow;
}

/* =================== */
/* ===== CONTENT ===== */
/* =================== */
#mega-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

#content{
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 20%;
}

p{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-section{
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifties{
    /* font-family: "Atomic Age"; */
    font-family: 'Century Gothic';
    color: #e03d4d;
}

.fifties h2{
    margin: 10vh 0px;
}

.fifties-title{
    margin-bottom: 10vh;
}

#fifties-timeline-img{
    width: 40vw;
    margin: 5vh 0px;
}

.fifties-text{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 7vh 0px;
    line-height: 3vh;
}

.sixties{
    /* font-family: "Rocket Script"; */
    font-family: "Bahnschrift";
    text-transform: uppercase;
}

.seventies{
    font-family: "Supercomputer";
    font-size: 36px;
    color: yellow;
}

.seventies-title{
    border: 4px solid gray;
}

.eighties{
    font-family: "OCR A";
    color: lime;
}

.eighties-title{
    border: 2px solid lime;
}

.nineties{
    color: cyan;
    font-family: "Alien Robot";
    font-size: 2rem;
    text-shadow: 0 0 10px skyblue;
}

.nineties-title{
    background-image: url(images/iss-genx.png);
    border: 4px solid cyan;
    border-radius: 5px;
}

.y2k{
    font-family: "Pavelt";
    color:dodgerblue;
}

.y2k-title{
    border: 4px solid dodgerblue;
}

.tens{
    font-family: "Madenz", sans-serif;
    color:blueviolet;
}

.tens-title{
    border: 1px solid magenta;
    border-radius: 5px;
}

.twenties{
    font-family: "Garamond", serif;
    font-weight: 200;
    color: white;
}

.future{
    font-family: "Upcharge", sans-serif;
    color: ghostwhite;
}

/* 50s Constructionist Abstract */
.fifties-img{
    width: 20vw;
}


/* 60s Sepia Newsprint */
.sixties-title{
    background-image: url(images/60s/parch.jpg);
    color: black;
    width: 100%;
    max-width: 60vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rm-space{
    margin: 0px;
    padding: 0px;
}

.sixties-title-divider{
    width: 90%;
    border: 2px solid black;
}

.sixties-container{
    border: 2px solid black;
    background-image: url(images/60s/parch.jpg);
    color: black;
    width: 100%;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
}

.sixties-col{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    text-align: justify;
}

.sixties-col-sm{
    flex-grow: 1;
    width: 25%;
}

.sixties-col-lg{
    flex-grow: 2;
    width: 50%;
}

.sixties-article{
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.sixties-article p{
    font-size: 1.15rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.sixties-img{
    border: 4px solid black;
    object-fit: contain;
}



/* 70s Retro IBM Computer */
.manned-container-70s{
    border: 7px ridge yellow;
    padding: 2rem;
    width: 50vw;
}

.manned-icons-70s{
    height: 150px;
}

.mission-container-70s{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: lightgray;
    border: 9px groove gray;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mission-overview-70s{
    display: flex;
    flex-direction: row;
}

.mission-title-70s{
    margin-top: 0px;
    margin-bottom: 1rem;
    /* font-style:italic; */
    color: yellow;
    text-shadow: 0 0 40px orange;
    font-size: 48px;
    font-family:monospace;
}

.mission-image-70s{
    padding: 1rem;
    margin: 1rem;
}

.mission-img-70s{
    width: 30vh;
    border: 4px solid gray;
    filter: grayscale(100%);
}

.mission-desc-70s {
    padding: 1rem;
    margin: 1rem;
    flex-grow: 2;
    background-color: black;
    border: 4px solid gray;
    color: yellow;
    text-shadow: 0 0 10px orange;
    font-family: 'Monaco';
}

.mission-buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.mission-buttons button{
    border: 5px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'OCR-A';
}

.mission-buttons button:hover{
    background-color: black;
    border-color: yellow;
    color: yellow;
}

.btn-1{
    background-color: red;
}

.btn-2{
    background-color: lime;
}

.btn-3{
    background-color: dodgerblue;
}

.mission-extra-70s{
    padding: 1rem;
    margin: 1rem;
}

/* === 1980s (RETRO SYNTHWAVE GREEN) Styles === */

.mission-container-80s{
    border: 2px solid lime;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 15vh;
    color: lime;
}

.mission-title-80s{
    color: lime;
    align-self: center;
    background: url(https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg);
    border: 1px solid green;
    width: 100%;
}

.mission-img-80s{
    width: 10vw;
    border: 1px solid green;
}

.mission-devs-80s{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.mission-devs-img-80s{
    height: 5vh;
    border: 1px solid gray;
}

.mission-subtitle-80s{
    font-size: 16px;
    color: green;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 0px;
}

.mission-cols-container-80s{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
}

.mission-col-80s{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    flex-grow: 1;
    gap: 1rem;
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
}

#updates-table-80s{
    border: 1px solid lime;
    width: 30vh;
    color: lime;
}

#updates-table-80s table tr {
    border-bottom: 1px solid lime;
}

/* 1990s GenX Soft Club + Tech Theme */
.mission-container-90s{
    width: 50vw;
    min-height: 30vh;
    border: 2px solid cyan;
    display: flex;
    flex-direction: column;
    margin: 5rem 0px;
}

.mission-title-90s{
    background: linear-gradient(90deg,rgba(155, 222, 202, 1) 0%, rgba(39, 72, 79, 1) 55%, rgba(0, 0, 0, 1) 100%);
    text-align: right;
    padding-right: 2rem;
    border-bottom: 2px solid cyan;
}

.mission-items-90s{
    background-image: url(images/90s/90s-tech-bkg.png);
    background-position: center;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
    padding: 1rem;
    font-family: 'Cascadia Mono';
    color: cyan;
    font-size: 18px;
    font-weight: 200;
}

.mission-col-1-90s{
    object-fit: contain;
    flex: 1;
}

.mission-col-2-90s{
    flex: 2;
}

.mission-img-90s{
    max-width: 15vw;
    border: 2px solid cyan;
}

.window{
    margin: 5vh 0px;
    width: 80%;
}

/* 2000s Frutiger Aero Design */
.y2k-reflecting-title{
    margin: 25vh 0px;
}

.y2k-section-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
}

.y2k-section-title-reflection{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    transform: rotateX(180deg) translateY(-2px);
    mask-image: linear-gradient(transparent 50%, white 90%);
    margin: 0px;
    padding: 0px;
}

.window-body{
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: row;
    background-image: url(https://64.media.tumblr.com/092193b8d83e87b4d4d637ab3ac98b5c/318e83a2c264d399-fd/s2048x3072/a2024072972e05a2947afa3ecdaeb9fa6f38846d.pnj) !important;
    background-position: center !important;
    background-size:cover !important;
}

.y2k-mission-img{
    max-width: 50%;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: linear-gradient(180deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .3) 100%);
    /* background-blend-mode: blur(100px); */
    padding: 1rem;
}

.y2k-col-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    justify-content: start;
    text-align: left;
    margin-left: 1rem;
}

.y2k-mission-title{
    text-shadow: 2px 2px 2px rgba(77, 102, 247, 0.829);
    margin: 1rem;
    font-size: 2.5rem;
}

.y2k-col-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin-top: 5rem;
}

.y2k-mission-desc{
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 3px;
    width: 100%;
    padding: 0px 1rem;
    backdrop-filter: blur(5px);
    background: linear-gradient(180deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .3) 100%);
}

/* 2010s Brutalist Acidwave */

.tens-mission-container{
    display: flex;
    flex-direction: column;
    border: 4px double violet;
    margin: 10vh 0px;
    width: 55vw;
    background-image: url(https://64.media.tumblr.com/3dd041a53e46dd66b36aa7b64e8abde7/f5e5e112b2624166-09/s2048x3072/af23ff09658bde7528334d61e54a30a59877c254.pnj);
    background-position: center;
    background-size: contain;
}

.tens-mission-title{
    display: flex;
    flex-direction: row;
    color: hotpink;
    text-shadow: 0 0 10px rgba(98, 0, 255, 0.849);
    border-bottom: 4px double violet;
    padding: 0px 1rem;
}

.tens-mission-title-foreign{
    font-family: 'MS Gothic';
    text-shadow: 0 0 10px magenta;
    /* color: rgba(0, 247, 255, 0.88); */
    color: rgb(7, 1, 61);
}

.tens-mission-title-eng{
    font-family: 'Trebuchet MS';
}

.tens-mission-content{
    display: flex;
    flex-direction: row;
}

.tens-mission-left-col{
    display: flex;
    flex-direction: column;
    flex: 2;
    object-fit: contain;
}

.tens-mission-right-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #50264e;
    padding: 0px 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(2px);
}

.tens-mission-desc{
    color: hotpink;
    text-align: justify;
}

.tens-mission-img{
    max-width: 35vw;
    margin: 1rem;
    border: 1px solid #50264e;
}

.tens-section-header{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(109, 31, 104, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    margin: 20vh 0px;
    text-align: center;
    padding: 2rem;
}

.tens-section-header-text{
    padding: 0px;
    margin: 0px;
    font-family: 'Tahoma';
    color: rgba(255, 0, 157, 0.75);
}

#tens-nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tens-nav{
    text-align: left;
}

.tens-nav li{
    color: hotpink;
    font-size: 1.25rem;
}


.tens-nav li a{
    font-size: 1.25rem;
    color: hotpink;
    text-decoration: none;
}

.tens-nav li:hover{
    color: dodgerblue;
    text-decoration: underline;
}

.tens-nav li a:visited{
    color: hotpink;
    text-decoration: none;
}

/* 2020s */
.twenties-mission-container{
    background-image: url(https://64.media.tumblr.com/561200f84eb6b1af14b2123b01ebe91b/7b3acbb1a1f26fc4-a9/s1280x1920/ea174f293ff08867bb8431db9accc09e26f606e9.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 7px double white;
    font-family: 'Segoe UI';
    padding: 2rem;
    margin: 10vh 0px;
    width: 40vw;
    gap: 2rem;
}

.twenties-upcoming-container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 7px double white;
    padding: 2rem;
    margin: 10vh 0px;
    width: 40vw;
    gap: 2rem;
}

.twenties-upcoming-header{
    font-weight: 200;
    color: white;
    font-family: 'Garamond';
}

.twenties-upcoming-h1{
    font-size: 64px;
}

.twenties-upcoming-h2{
    font-size: 32px;
}

.twenties-upcoming-h3{
    font-size: 24px;
    text-decoration: underline;
}

.twenties-mission-container h1{
    font-size: 64px;
    font-weight: 200;
    color: white;
    font-family: 'Garamond';
}

.twenties-mission-container h2{
    font-size: 24px;
    font-weight: 200;
    color: white;
    font-family: 'Garamond';
}

.twenties-mission-container img{
    border: 1px solid rgb(255, 255, 255);
    max-width: 30vw;
    max-height: 40vh;
}

.twenties-mission-desc{
    color: white;
    font-weight: 200;
    font-size: 1.25rem;
    width: 30vw;
    text-align: justify;
}

.twenties-upcoming-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: start;
    margin: 1rem 5rem;
}

/* Sources */

.eighties-src{
    color: green;
}

.eighties-src:visited{
    color: yellow;
}