body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Inter'; */
    overflow-y: scroll;
}

h1{
    font-size: 4rem;
}

@font-face{
    font-family: "Atomic Age";
    src:
        url(fonts/AtomicAge-Regular.ttf);

    font-family: "Rocket Script";
    src:
        url(fonts/RocketScript.ttf);
    
    font-family: "Supercomputer";
    src:
        url(fonts/supercomputer.ttf);
    
    font-family: "Astron Boy Video";
    src:
        url(fonts/astron-boy.video-regular.otf);
    
    font-family: "Pavelt";
    src:
        url(fonts/Pavelt.otf);

    font-family: "Madenz";
    src:
        url(fonts/MADENZ.ttf);

    font-family: "Upcharge";
    src:
        url(fonts/UPCHARGE.ttf);

    font-family: "Electromagnetic Lungs";
    src: 
        url(fonts/Electromagnetic-Lungs.otf);

    font-family: "OCR-A";
    src: 
        url(fonts/OCR-A\ Regular.otf);
}

::selection{
    color: black;
    background-color: white;
}

:root{
    --red: #FFADAD;
    --orange: #FFD6A5;
    --yellow: #FDFFB6;

    --lime: #CAFFBF;
    --green: #ABFFBF;
    --blue: #9BF6FF;

    --indigo: #A0C4FF;
    --purple: #BDB2FF;
    --pink: #FFC6FF;

    --trans-white: rgba(255, 255, 255, .25);
}

#flex-container{
    display: flex;
}

/* ================== */
/* ===== NAVBAR ===== */
/* ================== */
#container{
    width: 10vw;
    height: 100vh;
    /* background-image: url(https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e002174/GSFC_20171208_Archive_e002174~medium.jpg); */
    /* background-image: url(https://images-assets.nasa.gov/image/PIA09579/PIA09579~medium.jpg); */
    /* background-image: url(); */
    background-image: url(https://images-assets.nasa.gov/image/PIA09579/PIA09579~medium.jpg);
    margin: 0;
    /* padding: 2.5vh 0vh; */
    border-right: 9px double white;
    position: fixed;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 2vh 0vh;
    text-align: center;
}

#site-title{
    font-family: "Electromagnetic Lungs";
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

#site-subtitle{
    font-family: "Electromagnetic Lungs";
    text-align: center;
    font-size: 1em;
}

.nav-break{
    width: 30%;
}

#navbar li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1vh 0vh;
}

#navbar li a:hover{
    background-color: var(--trans-white);
    color: rgb(255, 136, 229);
    text-decoration:underline;
}

.seventies li a:hover{
    color: yellow;
}

/* =================== */
/* ===== CONTENT ===== */
/* =================== */
#mega-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

#content{
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 20%;
}

p{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-section{
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifties{
    /* font-family: "Atomic Age"; */
    font-family: 'Century Gothic';
    color: #e03d4d;
}

.fifties-title{
    font-family: 'Century Gothic';
    background-image: url(images/fifties-cover-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: left;
}

#fifties-timeline-img{
    width: 40vw;
    margin: 10vh 0px;
}

.sixties{
    /* font-family: "Rocket Script"; */
    font-family: "Bahnschrift";
    text-transform: uppercase;
}

.seventies{
    font-family: "Supercomputer";
    font-size: 36px;
    color: yellow;
}

.seventies-title{
    border: 4px solid gray;
}

.eighties{
    font-family: "OCR A";
    color: lime;
}

.eighties-title{
    
}

.nineties{
    color: cyan;
}

.nineties-title{
    font-family: "Alient Robot";
    background-image: url(images/iss-genx.png);
    border: 4px solid cyan;
    border-radius: 5px;
}

.y2k{
    font-family: "Pavelt";
    color:dodgerblue;
}

.y2k-title{
    border: 4px solid dodgerblue;
}

.tens{
    font-family: "Madenz";
    color:blueviolet;
}

.twenties{
    font-family: "OCR-A";
    color: hotpink;
}

.future{
    font-family: "Upcharge";
    color: ghostwhite;
}

/* 50s Constructionist Abstract */
.fifties-img{
    width: 20vw;
}


/* 60s Sepia Newsprint */
.sixties-title{
    background-image: url(images/60s/parch.jpg);
    color: black;
    width: 100%;
    max-width: 60vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rm-space{
    margin: 0px;
    padding: 0px;
}

.sixties-title-divider{
    width: 90%;
    border: 2px solid black;
}

.sixties-container{
    border: 2px solid black;
    background-image: url(images/60s/parch.jpg);
    color: black;
    width: 100%;
    max-width: 60vw;
    display: flex;
    flex-direction: row;
}

.sixties-col{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    text-align: justify;
}

.sixties-col-sm{
    flex-grow: 1;
    width: 25%;
}

.sixties-col-lg{
    flex-grow: 2;
    width: 50%;
}

.sixties-article{
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.sixties-article p{
    font-size: 1.15rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.sixties-img{
    border: 4px solid black;
    object-fit: contain;
}



/* 70s Retro IBM Computer */
.manned-container-70s{
    border: 7px ridge yellow;
    padding: 2rem;
    width: 50vw;
}

.manned-icons-70s{
    height: 150px;
}

.mission-container-70s{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: lightgray;
    border: 9px groove gray;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mission-overview-70s{
    display: flex;
    flex-direction: row;
}

.mission-title-70s{
    margin-top: 0px;
    margin-bottom: 1rem;
    /* font-style:italic; */
    color: yellow;
    text-shadow: 0 0 40px orange;
    font-size: 48px;
    font-family:monospace;
}

.mission-image-70s{
    padding: 1rem;
    margin: 1rem;
}

.mission-img-70s{
    width: 30vh;
    border: 4px solid gray;
    filter: grayscale(100%);
}

.mission-desc-70s {
    padding: 1rem;
    margin: 1rem;
    flex-grow: 2;
    background-color: black;
    border: 4px solid gray;
    color: yellow;
    text-shadow: 0 0 10px orange;
    font-family: 'Monaco';
}

.mission-buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.mission-buttons button{
    border: 5px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'OCR-A';
}

.mission-buttons button:hover{
    background-color: black;
    border-color: yellow;
    color: yellow;
}

.btn-1{
    background-color: red;
}

.btn-2{
    background-color: lime;
}

.btn-3{
    background-color: dodgerblue;
}

.mission-extra-70s{
    padding: 1rem;
    margin: 1rem;
}

/* === 1980s (RETRO SYNTHWAVE GREEN) Styles === */

.mission-container-80s{
    border: 2px solid lime;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 15vh;
    color: lime;
}

.mission-title-80s{
    color: lime;
    align-self: center;
    background: url(https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg);
    border: 1px solid green;
    width: 100%;
}

.mission-img-80s{
    width: 10vw;
    border: 1px solid green;
}

.mission-devs-80s{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.mission-devs-img-80s{
    height: 5vh;
    border: 1px solid gray;
}

.mission-subtitle-80s{
    font-size: 16px;
    color: green;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 0px;
}

.mission-cols-container-80s{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
}

.mission-col-80s{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    flex-grow: 1;
    gap: 1rem;
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
}

#updates-table-80s{
    border: 1px solid lime;
    width: 30vh;
    color: lime;
}

#updates-table-80s table tr {
    border-bottom: 1px solid lime;
}