body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Inter'; */
    overflow-y: scroll;
}

h1{
    font-size: 4rem;
}

@font-face{
    font-family: "Atomic Age";
    src:
        url(fonts/AtomicAge-Regular.ttf);

    font-family: "Rocket Script";
    src:
        url(fonts/RocketScript.ttf);
    
    font-family: "Supercomputer";
    src:
        url(fonts/supercomputer.ttf);
    
    font-family: "Astron Boy Video";
    src:
        url(fonts/astron-boy.video-regular.otf);
    
    font-family: "Pavelt";
    src:
        url(fonts/Pavelt.otf);

    font-family: "Madenz";
    src:
        url(fonts/MADENZ.ttf);

    font-family: "Upcharge";
    src:
        url(fonts/UPCHARGE.ttf);

    font-family: "Electromagnetic Lungs";
    src: 
        url(fonts/Electromagnetic-Lungs.otf);

    font-family: "OCR-A";
    src: 
        url(fonts/OCR-A\ Regular.otf);
}

::selection{
    color: black;
    background-color: white;
}

:root{
    --red: #FFADAD;
    --orange: #FFD6A5;
    --yellow: #FDFFB6;

    --lime: #CAFFBF;
    --green: #ABFFBF;
    --blue: #9BF6FF;

    --indigo: #A0C4FF;
    --purple: #BDB2FF;
    --pink: #FFC6FF;

    --trans-white: rgba(255, 255, 255, .25);
}

#flex-container{
    display: flex;
}

/* ================== */
/* ===== NAVBAR ===== */
/* ================== */
#container{
    width: 10vw;
    height: 100vh;
    /* background-image: url(https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e002174/GSFC_20171208_Archive_e002174~medium.jpg); */
    /* background-image: url(https://images-assets.nasa.gov/image/PIA09579/PIA09579~medium.jpg); */
    /* background-image: url(); */
    background-image: url(https://images-assets.nasa.gov/image/PIA09579/PIA09579~medium.jpg);
    margin: 0;
    /* padding: 2.5vh 0vh; */
    border-right: 9px double white;
    position: fixed;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 2vh 0vh;
    text-align: center;
}

#site-title{
    font-family: "Electromagnetic Lungs";
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

#site-subtitle{
    font-family: "Electromagnetic Lungs";
    text-align: center;
    font-size: 1em;
}

.nav-break{
    width: 30%;
}

#navbar li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1vh 0vh;
}

#navbar li a:hover{
    background-color: var(--trans-white);
    color: rgb(255, 136, 229);
    text-decoration:underline;
}

/* =================== */
/* ===== CONTENT ===== */
/* =================== */
#mega-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

#content{
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 20%;
}

.title-section{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifties{
    /* font-family: "Atomic Age"; */
    font-family: 'Century Gothic';
    color: #e03d4d;
}

.fifties-title{
    font-family: 'Century Gothic';
    background-color: #e03d4d;
    color: white;
    text-align: left;
}

.sixties{
    /* font-family: "Rocket Script"; */
    font-family: "Bahnschrift";
    text-transform: uppercase;
}

.sixties-title{
    font-family: "Bahnschrift";
    color: black;
    background-color:burlywood;
}

.seventies{
    font-family: "Supercomputer";
    color: yellow;
}

.eighties{
    font-family: "Astron Boy Video";
    color: lime;
}

.eighties-title{
    font-family: "OCR-A";
    background-image: url(images/black-green-grid-space.jpg);
}

.nineties{
    color: cyan;
}

.nineties-title{
    font-family: "Alient Robot";
    background-image: url(images/iss-genx.png);
}

.y2k{
    font-family: "Pavelt";
    color:dodgerblue;
}

.tens{
    font-family: "Madenz";
    color:blueviolet;
}

.twenties{
    font-family: "OCR-A";
    color: hotpink;
}

.future{
    font-family: "Upcharge";
    color: ghostwhite;
}